.msg-list{
    // list-style: decimal inside;
    list-style: none;
    margin: 0;
    padding: 1em;
    margin-left: 100px;
    height: 350px;
    overflow: auto;

    background-color: #fff;
    
    @avatarW: 40px;
    .msg-item{
        overflow: hidden;
        min-height: @avatarW + 5px;
        margin-bottom: 1em;

        
        .msg-user-avatar{
            float: left;
            margin-right: 8px;

            border: none;
            width: @avatarW;
            height: @avatarW;
            border-radius: @avatarW/2;
            box-shadow: 0 2px 4px rgba(0,0,0,0.25);
        }
        .msg-user-name{
            margin: 0;
            color: #999;
            &:after{
                // content: ':';
            }
        }
        .msg-text{
            // display: inline-block;
            margin-top: 0px;
            margin-bottom: 0;
            margin-left: @avatarW + 8px;
            color: #444;
        }
    }
}
