html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Avenir';
  line-height: 1.5;
}
* {
  box-sizing: border-box;
}
#msg-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#msg-list .msg-item {
  margin-bottom: 1.5em;
}
#msg-list .msg-item .avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 0.75em;
}
#msg-list .msg-item .msg-content {
  overflow: hidden;
  min-height: 60px;
}
#msg-list .msg-item .msg-user-name {
  margin-right: 0.5em;
  color: #4c70ba;
  font-weight: bold;
}
#msg-list .msg-item .msg-user-name:after {
  content: ':';
}
.wrapper {
  padding: 50px 20px;
  overflow: hidden;
  background-color: #000;
}
.wrapper #msg-module {
  width: 480px;
  height: 300px;
  padding: 0 60px;
  background-color: #EEE8F1;
  overflow: hidden;
}
.wrapper .msg-header .status-header {
  padding: 0.5em 0 0 0;
  margin-right: -60px;
  border-bottom: 1px solid #ccc;
}
.wrapper .msg-header .status-header:after {
  content: '';
  display: table;
  clear: both;
}
.wrapper .msg-header .status-title {
  float: left;
  margin: 0;
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
  text-decoration: none;
}
.wrapper .msg-header .status-title .icon {
  position: relative;
  top: 2px;
  margin-right: 0.25em;
}
.wrapper .msg-header .add-update {
  float: right;
  margin-right: -0.5em;
}
.simulate-video {
  width: 800px;
  margin: 60px auto 0 auto;
}
.simulate-video .wrapper,
.simulate-video audio {
  display: block;
  width: 520px;
  margin: 0 auto;
  background: #000;
}
.middle-dot {
  position: relative;
  top: -0.3em;
  margin: 0 0.5em;
}
.link-group {
  color: #38599c;
}
.fb-link {
  color: #38599c;
  text-decoration: none;
}
.icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-image: url('../../img/icons.png');
  cursor: pointer;
}
.icon.icon-people {
  background-position: 0 -171px;
}
.btn {
  display: inline-block;
  line-height: 1.5;
  padding: 0 5px;
  border: 1px solid #ccc;
  background-color: #DDDBDD;
  cursor: pointer;
}
