doctype html
html
    head
        title server端渲染的react组件 -&gt; 页面
    body
        //- un escaped varibles
        //- 直接连!= 或 换行
        //- !=
        #ctn!= comHTML
        script(src="lib/bundle.js")