html, body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Avenir';
    line-height: 1.5;
}
*{
    box-sizing: border-box;
}

@avatarW: 60px;



#msg-list{
    margin: 0;
    padding: 0;
    list-style: none;

    .msg-item{
        margin-bottom: 1.5em;
        .avatar{
            float: left;
            width: @avatarW;
            height: @avatarW;
            margin-right: 0.75em;
        }
        .msg-content{
            overflow: hidden;
            min-height: 60px;
        }
        .msg-user-name{
            margin-right: 0.5em;
            color: lighten(#3b5998, 10%);
            font-weight: bold;

            &:after{
                content: ':';
            }
        }
        .msg-text{
            
        }
    }
}




@pLR: 20px;
@pTB: 50px;
.wrapper{
    
    padding: @pTB @pLR;
    
    overflow: hidden;
    background-color: #000;
    
    #msg-module{
        width: @avatarW*8;
        height: 300px;
        padding: 0 @avatarW;
        background-color: #EEE8F1;

        overflow: hidden;
    }
    .msg-header{
        .status-header{
            padding: 0.5em 0 0 0;
            margin-right: -@avatarW;
            border-bottom: 1px solid #ccc;

            &:after{
                content: '';
                display: table;
                clear: both;
            }
        }
        .status-title{
            float: left;
            margin: 0;
            font-weight: bold;
            font-size: 1.25em;
            color: #333;
            text-decoration: none;


            .icon{
                position: relative;
                top: 2px;
                margin-right: 0.25em;
            }
        }

        .add-update{
            float: right;
            margin-right: -0.5em;
        }
    }
}


.simulate-video{
    width: 800px;
    margin: 60px auto 0 auto;

    .wrapper,
    audio{
        display: block;
        width: 2*@pLR + @avatarW*8;
        margin: 0 auto;
        background: #000;
    }
}

.middle-dot{
    position: relative;
    top: -0.3em;
    margin: 0 0.5em;
}
.link-group{
    color: #38599c;
}
.fb-link{
    color: #38599c;
    text-decoration: none;
}
.icon{
    display: inline-block;
    height: 18px;
    width: 18px;
    background-image: url('../../img/icons.png');
    cursor: pointer;
    // background-size: 100%;

    &.icon-people{
        background-position: 0 -171px;
    }
}
.btn{
    display: inline-block;
    line-height: 1.5;
    padding: 0 5px;
    border: 1px solid #ccc;
    background-color: #DDDBDD;
    cursor: pointer;
}

