/* line 13, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/mixin.less */
.clear-flt:after {
  content: '';
  clear: both;
  display: table;
}
/* line 1, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/resizeable.less */
.resizeable {
  position: relative;
  width: 600px;
  height: 500px;
  background-color: #efefef;
  overflow: hidden;
}
/* line 8, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/resizeable.less */
.resizeable .resize-ver,
.resizeable .resize-hor {
  position: absolute;
  background-color: #ccc;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}
/* line 15, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/resizeable.less */
.resizeable .resize-ver {
  width: 2px;
  top: 0;
  bottom: 0;
  cursor: col-resize;
  left: 150px;
}
/* line 23, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/resizeable.less */
.resizeable .resize-hor {
  height: 2px;
  right: 0;
  cursor: row-resize;
  left: 152px;
  top: 350px;
}
/* line 1, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
.full-module {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: -10;
  -webkit-transition: opacity 300ms ease-in-out, bottom 0ms ease 300ms, z-index 0ms ease 300ms;
  -moz-transition: opacity 300ms ease-in-out, bottom 0ms ease 300ms, z-index 0ms ease 300ms;
  transition: opacity 300ms ease-in-out, bottom 0ms ease 300ms, z-index 0ms ease 300ms;
}
/* line 14, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
.full-module.active {
  bottom: 0;
  opacity: 1;
  z-index: 1000;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
/* line 22, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
.full-module .module-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 32, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
.full-module .module-content {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 350px;
  margin-left: -175px;
  height: 450px;
  background-color: #fff;
}
/* line 46, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
.btn {
  display: inline-block;
  line-height: 36.8px;
  min-width: 80px;
  border: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  cursor: pointer;
}
/* line 58, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
.btn-block {
  display: block;
}
/* line 61, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
.btn-primary {
  background-color: #395175;
  border: 1px solid #eee;
  color: #fff;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}
/* line 67, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
.btn-primary.disabled {
  color: #999;
  background-color: #c9d4e4;
  cursor: not-allowed;
}
/* line 76, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
#login-module .module-content {
  border-radius: 6px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  height: auto;
  width: 280px;
  margin-right: -140px;
}
/* line 85, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
#login-module .avatar-ctn {
  height: 80px;
  width: 80px;
  margin: -40px auto 0 auto;
  border-radius: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}
/* line 92, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
#login-module .avatar-ctn .avatar {
  margin: 1px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
}
/* line 100, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
#login-module #login-form {
  padding: 2em;
}
/* line 103, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
#login-module #login-form #alias-input,
#login-module #login-form #login-btn {
  border-radius: 3px;
}
/* line 107, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
#login-module #login-form #alias-input {
  display: block;
  font-size: 16px;
  height: 2.3em;
  width: 100%;
  padding-left: 0.5em;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
  outline: none;
}
/* line 118, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/login.less */
#login-module #login-form #login-btn {
  font-size: 20px;
  border-radius: 4px;
}
/* line 10, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
* {
  box-sizing: border-box;
}
/* line 12, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
*:before,
*:after {
  box-sizing: border-box;
}
/* line 16, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
html,
body {
  font-size: 14px;
  font-family: 'Avenir', 'monaco', 'Helvetica Neue', 'Microsoft Yahei';
}
/* line 20, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list {
  width: 450px;
  padding: 2em 1em;
  list-style: none;
  overflow: hidden;
  background-color: #f0f0f0;
}
/* line 27, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item {
  position: relative;
  width: 400px;
  margin-bottom: 1em;
  overflow: hidden;
}
/* line 35, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item .avatar {
  position: absolute;
  bottom: 2px;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px rgba(0, 0, 0, 0.5);
  z-index: 500;
}
/* line 45, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item .bubble {
  position: relative;
  padding: 0.8em;
  line-height: 1.35;
  margin: 0;
  background-color: #ffffff;
  z-index: 100;
  border: 2px solid #2c92b0;
}
/* line 58, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item .bubble:before,
#dialog-list .item .bubble:after {
  position: absolute;
  content: '';
}
/* line 65, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item .bubble:after {
  width: 14px;
  height: 12px;
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #2c92b0;
  z-index: 100;
}
/* line 73, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item .bubble:before {
  width: 24px;
  height: 24px;
  border: 2px solid transparent;
  border-right: 2px solid #2c92b0;
  background-color: #f0f0f0;
  border-radius: 12px;
  z-index: 150;
}
/* line 86, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item .bubble .tail-patch {
  display: block;
  position: absolute;
  height: 12px;
  width: 2px;
  background-color: #2c92b0;
  bottom: 10px;
  z-index: 200;
}
/* line 96, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item .name {
  display: none;
}
/* line 100, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.left {
  float: left;
  padding-left: 50px;
}
/* line 103, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.left .avatar {
  left: 0;
}
/* line 106, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.left .bubble {
  margin-left: 1em;
  border-radius: 12px 12px 12px 0;
}
/* line 111, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.left .bubble:after {
  bottom: -2px;
  left: -14px;
}
/* line 115, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.left .bubble:before {
  -webkit-transform: rotate(45deg);
  bottom: -2px;
  left: -24px;
}
/* line 120, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.left .bubble .tail-patch {
  left: -2px;
}
/* line 125, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.right {
  float: right;
  padding-right: 50px;
}
/* line 128, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.right .avatar {
  right: 0;
}
/* line 131, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.right .bubble {
  margin-right: 1em;
  border-radius: 12px 12px 0 12px;
}
/* line 136, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.right .bubble:after {
  bottom: -2px;
  right: -14px;
}
/* line 140, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.right .bubble:before {
  -webkit-transform: rotate(135deg);
  bottom: -2px;
  right: -24px;
}
/* line 145, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list .item.right .bubble .tail-patch {
  right: -2px;
}
/* line 155, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list.draft .item:nth-child(2n+1) {
  background-color: #FFBB6C;
}
/* line 158, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list.draft .item:nth-child(2n) {
  background-color: #9F6C66;
}
/* line 163, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list.draft .item .bubble:before {
  background-color: #FF7641;
}
/* line 166, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list.draft .item .bubble:after {
  background-color: #262436;
}
/* line 169, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-list.less */
#dialog-list.draft .item .bubble .tail-patch {
  background-color: red;
}
/* line 1, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-app.less */
#chat-window {
  margin: 20px auto 0 auto;
  border-radius: 6px;
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
}
/* line 8, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-app.less */
.thread-list {
  height: 100%;
  margin: 0;
  padding: 1em 0 0 0;
  list-style: none;
  background-color: #f0f0f0;
}
/* line 17, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-app.less */
.thread-list .thread-item {
  padding: 0.375em 0 0.25em 0.75em;
  line-height: 1.5;
  color: #666;
  cursor: pointer;
  font-size: 14px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
/* line 26, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-app.less */
.thread-list .thread-item:hover {
  background-color: rgba(57, 81, 117, 0.25);
}
/* line 30, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-app.less */
.thread-list .thread-item.active {
  background-color: #425E88;
  color: #fff;
}
/* line 1, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/msg-list.less */
.msg-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #E8ECED;
}
/* line 11, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/msg-list.less */
.msg-list .msg-item {
  overflow: hidden;
  min-height: 55px;
  padding: 0.75em 0.5em;
}
/* line 13, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/mixin.less */
.msg-list .msg-item:after {
  content: '';
  clear: both;
  display: table;
}
/* line 18, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/msg-list.less */
.msg-list .msg-item.sendbyme .msg-user-avatar,
.msg-list .msg-item.sendbyme .msg-content-ctn {
  float: right;
}
/* line 22, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/msg-list.less */
.msg-list .msg-item.sendbyme .msg-content-ctn {
  margin-right: 8px;
}
/* line 27, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/msg-list.less */
.msg-list .msg-item .msg-user-avatar {
  float: left;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}
/* line 36, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/msg-list.less */
.msg-list .msg-item .msg-content-ctn {
  float: left;
  margin-left: 8px;
  padding: 4px 8px;
  background-color: #fff;
  border-radius: 4px;
  max-width: 290px;
  margin-right: 68px;
  box-shadow: 0 1px 1px 0 #c8c8c8;
}
/* line 46, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/msg-list.less */
.msg-list .msg-item .msg-user-name {
  margin: 0;
  color: #27C198;
  font-size: 12px;
}
/* line 55, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/msg-list.less */
.msg-list .msg-item .msg-text {
  margin-top: 4px;
  margin-bottom: 0;
  color: #444;
}
/* line 40, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-app.less */
.compose-ctn {
  background-color: #e0e0e0;
}
/* line 43, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-app.less */
.compose-ctn .compose-input {
  height: 40px;
  width: 300px;
  margin: 1em;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 6px;
  border: 2px solid #ccc;
  outline: none;
}
/* line 54, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/chat-app.less */
.compose-ctn .compose-input:focus {
  outline: none;
  border: 2px solid #22B2EA;
}
/* line 10, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/layout.less */
body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir';
  font-size: 16px;
  line-height: 1.35;
}
/* line 18, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/layout.less */
html body {
  display: block;
}
/* line 21, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/layout.less */
* {
  box-sizing: border-box;
}
/* line 24, /Users/chenllos/Documents/dev/ReactFlux/kfc/assets/layout/less/layout.less */
*:before,
*:after {
  box-sizing: border-box;
}
